body{
    background-color: pink;
}
h1, p {
    text-align: center;
    font-family: sans-serif;
    color: red;
}
h1{
    font-weight: 100;
    color: purple;
    font-size: 25px;
    font-style: italic;
}
p{
    margin: 100px 50px 0 50px;
}